<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div class="login-container">
        <div>
            <input class="form-control" type="text" placeholder="아이디">
        </div>
        <div>
            <input class="form-control" type="text" placeholder="비밀번호">
        </div>
        <div>
            <button class="btn btn-primary btn-lg btn-block mt-4" type="submit">로그인</button>
        </div>

        <div class="join-btn">
            <a href="/join">회원가입</a>
        </div>
    </div>


    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
</html>