<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />

    <div>
        <div>
            <form class="form-inline">
                <div class="form-group mb-2">
                    <input type="text" class="form-control" placeholder="검색어"/>
                </div>
                <div class="form-group mx-sm-1 mb-2">
                    <select class="form-control">
                        <option value="">제목</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-secondary mb-3">검색</button>
            </form>

            <button type="button" class="btn btn-outline-warning">조회순</button>
            <button type="button" class="btn btn-outline-warning">최신순</button>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>제목</th>
                <th>작성자</th> <th>작성일</th> <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>aaaaaaaaaaaaaaaaaaaaa</td>
                <td>abc</td>
                <td>20220504</td>
                <td>12533</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button type="submit" class="btn btn-secondary my-3 add">글쓰기</button>
    </div>

    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
</html>