<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="user-container">
    <a href="/"><h1 class="login-title">MINYUK</h1></a>
    <form action="" th:action th:object="${userForm}" method="post">
        <div class="jumbotron">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
            </div>
            <div>
                <input type="text" th:field="*{loginId}" class="form-control form-control-lg"  placeholder="아이디">
                <div class="field-error" th:errors="*{loginId}">아이디 오류</div>
            </div>
            <div>
                <input type="password" th:field="*{password}" class="form-control form-control-lg"  placeholder="비밀번호">
                <div class="field-error" th:errors="*{password}">비밀번호 오류</div>
            </div>
            <div>
                <input type="password" th:field="*{passwordCheck}" class="form-control form-control-lg"  placeholder="비밀번호 확인">
                <div class="field-error" th:errors="*{passwordCheck}">비밀번호 오류</div>
            </div>
            <div>
                <input type="text" th:field="*{name}" class="form-control form-control-lg"  placeholder="이름">
                <div class="field-error" th:errors="*{name}">이름 오류</div>
            </div>

            <button class="btn btn-secondary btn-lg btn-block mt-4" type="submit">회원가입</button>
        </div>
    </form>
</div>
</body>
</html>