<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="user-container">
    <a href="/"><h1 class="login-title">MINYUK</h1></a>
    <form action="" th:action th:object="${loginForm}" method="post">
        <div class="jumbotron">
            <input type="text" th:field="*{loginId}" class="form-control form-control-lg" placeholder="아이디">

            <input type="text" th:field="*{password}" class="form-control form-control-lg" placeholder="비밀번호">

            <button class="btn btn-secondary btn-lg btn-block mt-4" type="submit">로그인</button>
        </div>

        <a href="/user/new"><h5 class="join">회원가입</h5></a>
    </form>
</div>
</body>
</html>