    .user-container {
        position: absolute;
        width: 500px;
        height: 500px;
        top: 50%;
        left: 50%;
        margin: -250px 0 0 -250px;
    }

    .form-control {
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .btn-secondary {
        background-color: #ecb358;
        border: 0;
        outline: 0;
    }

    .form-inline {
        float: right;
    }

    .login, .loginUser {
        float: right;
    }

    .add {
        float: right;
    }

    .join {
        color: #ecb358;
        text-align: center;
        margin-top: 30px;
    }

    .jumbotron {
        background-color: #fffaf2;
    }

    .login-title {
        text-align: center;
        color: #ecb358;
        margin-bottom: 80px;
    }

    .field-error {
        border-color: #dc3545;
        color: #dc3545;
        margin-bottom: 10px;
    }








